.container {
  width: 600px;
  margin: 40px auto;
}

/* pseudo elements for paragraphs */
/* 1 em is 16 pixels */
p::first-letter {
  font-size: 3em;
}

/* pseudo class for paragraph */
p:hover {
  background-color: lightskyblue;
}
